@import './scss/variable.scss';
@import './scss/mixins.scss';

.header{
    background-color: $bgcolorHeader;
    padding-top: $paddingTopHeader;

    .logo{
        cursor: pointer;
        padding-top: $paddingTopLogoMeli;
    }

    input:focus, input.form-control:focus {

        @include styleInput;
    
    }

    input{
        @include styleInput;
        font-size: $fontSizeInput;
    }
    .input-group-text{
        border: 0px;
        border-radius: 0px;
        cursor: pointer;
    }
}

body{
    padding: margin;
    margin: margin;
    background-color: $backGroundColorBody;
    overflow-x: hidden;
}


//MEDIA QUERIES
@media only screen and (max-width: 700px) {
    input.form-control {
      margin-left: $marginLeftInputMedia;
    }
    .logo{
        margin-left: $marginLeftLogoMedia;
    }
    .colContent{
        border-bottom: 0px !important;
    }
    .product{
        border-bottom: $borderBottom;
    }
    .containerCategories{
        text-align: center;
    }
}
@media only screen and (max-width: 600px) {

    .colsD2{
        padding-left: $marginGreen;
    }

    .colContent{
        text-align: center;
    }
}

@media only screen and (max-width: 770px) {

    .productDescription{
        padding-right: $marginGreen;
    }
    .colsDetail{
        text-align: center;
        .imgDetailHuge{
            width: $sizeImgHugeResponsive;
            height: $sizeImgHugeResponsive;
        }
        .btnComprar{
            width: 50%;
            margin-bottom: $marginBootomBtnC;
        }
    }
    
}

.containerCategories{

    p{
        font-size: $fontSizeCategory;
        color: $colorCategory;
        margin-bottom: $marginCategory;
        margin-top: $marginCategory;
    }
}

.product{

    .shipping{
        margin-bottom: $marginShipping;
    }

    .price{
        font-size: $fontSizePrice;
        color: $colorPrice;
        margin-bottom: 0px;
    }

    .title{
        font-size: $fontSizeTitle;
        color: $colorTitle;
        padding-top: $marginGreen;
    }

    .miniImgProduct{
        width: $sizeImgMin;
        height: $sizeImgMin;
        border-radius: $borderRadiusImgMini;
        padding-left: $marginRed;
    }
    .colContent{
        background-color: $colorCols;
        padding-top: $marginRed;
        padding-left: 0px;
        padding-bottom: $marginRed;
        border-bottom: $borderBottom;
    }
    .contentFirst{
        padding-right: 0px;
    }
    .priceInfo{
        padding-left: $marginRed;
        padding-top: $marginGreen;
    }

    .author{
        font-size: $fontSizeAuthor;
        color: $colorAuthor;
        text-align: center;
        padding-top: $marginGreen;
    }

    .contentFirst, .priceInfo{
        cursor: pointer;
    }
}

.containerDetail{
    .colsD2{
        padding-right: $marginGreen;
    }
    .colsD1{
        text-align: center;
    }
    .colsDetail{
        background-color: $colorCols;

        img{
            width: $widthImgDetail;
            height: $heighImgDetail;
            padding-top: $marginGreen;
        }

        button{
            width: $sizeButtonDetail;
            background-color: $colorButtonBlue;
        }

        .newDetail{
            font-size: $fontSizeNewDetail;
            color:$colorTitle;
            margin-top:$marginGreen;
        }
        .titleDetail{
            font-size: $fontSizeTitleDetail;
            color:$colorDarK;
            margin-bottom: $marginGreen;
            font-weight: $fontWeight;
        }

        .priceDetail{
            font-size: $fontSizePriceDetail;
            color:$colorDarK;
            margin-bottom: $marginGreen;
            font-weight: $fontWeight;
        }
    }
}

.productDescription{
    background-color: $colorCols;
    padding-left: $marginGreen;
    padding-top: $marginGreen;

    .titleDescription{
        font-size: $fontSizeTitleDescription;
        color: $colorDarK;
        margin-bottom: $marginGreen;
    }
    .descriptionText{
        font-size: $fontSizeAuthor;
        color: $colorTitle;
        text-align: justify;
        margin-bottom: $marginGreen;
    }
}