//BODY
$margin: 0px;
$backGroundColorBody: #EEEEEE !important;


//HEADER
$bgcolorHeader: #FFE600;
$paddingTopHeader: 13px;

//Input search bar
$marginLeftInputMedia: 25px;

//Logo
$marginLeftLogoMedia: -10px;