//BODY
$margin: 0px;
$backGroundColorBody: #EEEEEE !important;


//HEADER
$bgcolorHeader: #FFE600;
$paddingTopHeader: 13px;

//Input search bar
$marginLeftInputMedia: 25px;

//Logo
$marginLeftLogoMedia: -10px;

//Categories
$fontSizeCategory: 14px;
$colorCategory: #999999;
$marginCategory: 16px;


//price
$fontSizePrice: 24px;
$colorPrice: #333333;

//title
$fontSizeTitle: 18px;
$colorTitle: #666666;


//img mini
$sizeImgMin: 180px;
$borderRadiusImgMini: 4px;

//container list product
$colorCols: white;

//GLOBALs
$marginRed: 16px;
$marginGreen: 32px !important;
$borderBottom: 1px solid #EEEEEE;
$colorDarK: #333333;
$colorButtonBlue: #3483FA;
$colorLite: #EEEEEE;

//Class author
$fontSizeAuthor: 12px;
$colorAuthor: #999999;

//ProductDetail
$widthImgDetail: 680px;
$heighImgDetail: 650px;
$sizeButtonDetail: 100%;
$fontSizeTitleDetail: 24px;
$fontSizePriceDetail: 46px;
$fontSizeNewDetail: 14px;

//ProductDetailResponsive
$sizeImgHugeResponsive: 400px !important;
$marginBootomBtnC: 32px !important;
$fontSizeTitleDescription: 28px;
